<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="pathlog" value="D:/logs"/>
	</appSettings>
	<connectionStrings>
		<add name="conString" connectionString="RGF0YSBTb3VyY2U9MTkwLjExNC4yNTUuMTU2O0luaXRpYWwgQ2F0YWxvZz1MaXNhTGVjO1BlcnNpc3QgU2VjdXJpdHkgSW5mbz1UcnVlO1VzZXIgSUQ9c2E7UGFzc3dvcmQ9Y2xvdWQyMDE4Kio7"/>
	</connectionStrings>
</configuration>